body, html {
  height: 100%;
}

body {
  background-color: #DAE3E7;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img.logo {
  width: 25px;
}

span.logo-slash {
  color: #ffdd67;
}

.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffdd67 !important;
    font-weight: bold;
}

table {
  width: 660px;
  border: 10px solid black;
  background: white;
}

tr {
  flex-wrap: wrap;
  display: flex;
}

td {
  background: url("wall.jpeg") center center no-repeat;
  background-size: contain;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.doraemon {
  background: center center no-repeat url("doraemon.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 120px, contain;
}

.nobita {
  background: center center no-repeat url("nobita.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 70px, contain;
}

.takeshi {
  background: center center no-repeat url("takeshi.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 70px, contain;
}

.school {
  background: center center no-repeat url("school.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 80px, contain;
}

.doraemon.school {
  background: center center no-repeat url("doraemon.png"),
              center center no-repeat url("school.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 120px, 80px, contain;
}

.nobita.school {
  background: center center no-repeat url("nobita.png"),
              center center no-repeat url("school.png"),
              center center no-repeat url("wall.jpeg");
  background-size: 70px, 80px, contain;
}
