<% content_for :css do %>
  <link rel="stylesheet" type="text/css" href="/themes/<%= @theme %>/css/style.css">
<% end %>

<div class="container d-flex justify-content-center align-items-center flex-column my-3">
    <div id="congrats"></div>
    <a id="start-game" class="btn btn-outline-primary mb-3" href="#">Start game</a>
    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="wall"></td>
        <td></td>
        <td></td>
        <td class="wall"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="wall"></td>
        <td class="box"></td>
        <td class="box"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="box goal"></td>
        <td class="wall"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="goal"></td>
        <td class="wall"></td>
        <td></td>
        <td class="wall"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="wall"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="goal"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="player"></td>
        <td></td>
      </tr>
    </table>
</div>


