<div class="container d-flex justify-content-center align-items-center flex-column my-3">
  <h1>Welcome to Sokoban games!</h1>
  <p>This site offers you to play classic Sokoban in different themes</p>
  <form action="/chosen_themes" method="POST">
    <ul class="list-inline">
      <div class="form-group">
        <li class="my-3"><button name="theme" value="doraemon" type="submit" class="btn btn-outline-primary btn-block">Doraemon</button></li>
      </div>
      <div class="form-group">
        <li class="my-3"><button name="theme" value="harry_potter" type="submit" class="btn btn-outline-primary btn-block">Harry Potter</button></li>
      </div>
      <div class="form-group">
        <li class="my-3"><button name="theme" value="pokemon" type="submit" class="btn btn-outline-primary btn-block">Pokemon</button></li>
      </div>
    </ul>
  </form>
</div>
