<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <%= yield_content :css %>

  <title>Sokoban Themes</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
    <!-- <a class="navbar-brand mx-5" href="#"><i class="far fa-list-alt"></i> RANDOM/APPS</a> -->
    <a class="navbar-brand mx-5" href="/"><img class="logo" src="/images/jigsaw.svg" alt="Kiwi standing on oval"> SOKOBAN<span class="logo-slash">/</span>THEMES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mx-2" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-0" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mx-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sokoban/doraemon">Doraemon</a>
            <a class="dropdown-item" href="/sokoban/harry_potter">Harry Potter</a>
            <a class="dropdown-item" href="/sokoban/pokemon">Pokemon</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Suggest your idea</a>
          </div>
        </li>
      </ul>
      <form class="form-inline input-group-sm my-0">
        <input class="form-control mx-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-success mx-3" type="submit" disabled="">Search</button>
        <button href="/" class="btn btn-sm btn-outline-primary mx-0" disabled="">Create account</button>
        <button href="/" class="btn btn-sm btn-outline-success mx-3" disabled="">Log in</button>
      </form>
    </div>
  </nav>

  <%= yield %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
