@import url(../../css/style.css);

td {
  background: url("../images/wall.jpeg") center center no-repeat;
  background-size: contain;
}

.doraemon {
  background: center center no-repeat url("../images/doraemon.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 120px, contain;
}

.nobita {
  background: center center no-repeat url("../images/nobita.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 70px, contain;
}

.takeshi {
  background: center center no-repeat url("../images/takeshi.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 70px, contain;
}

.school {
  background: center center no-repeat url("../images/school.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 80px, contain;
}

.doraemon.school {
  background: center center no-repeat url("../images/doraemon.png"),
              center center no-repeat url("../images/school.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 120px, 80px, contain;
}

.nobita.school {
  background: center center no-repeat url("../images/nobita.png"),
              center center no-repeat url("../images/school.png"),
              center center no-repeat url("../images/wall.jpeg");
  background-size: 70px, 80px, contain;
}
